<ul class="nav nav-tabs" id="vehicleTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="vehicleDetails-tab" data-toggle="tab" href="#vehicleDetails" role="tab" aria-controls="vehicleDetails" aria-selected="true">Datails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="vehiclePhoto-tab" data-toggle="tab" href="#vehiclePhoto" role="tab" aria-controls="vehiclePhoto" aria-selected="false">Photos</a>
  </li>
</ul>
<div class="tab-content" id="vehicleTabsContent">
  <div class="tab-pane fade show active" id="vehicleDetails" role="tabpanel" aria-labelledby="vehicleDetails-tab">
    <h2>Basics</h2>
    <ul>
      <li>Make: {{ vehicle.Make.Name }}</li>
      <li>Model: {{ vehicle.Model.Name }}</li>
      <li>Make: {{ vehicle.IsRegistered ? "Yes" : "No" }}</li>
    </ul>
    <h2>Features</h2>
    <ul>
      <li *ngFor="let feature of vehicle.VehicleFeatures">{{ feature.Name }}</li>
    </ul>
    <h2>Contact Info</h2>
    <ul>
      <li>Name: {{ vehicle.Contact.Name }}</li>
      <li>Phone: {{ vehicle.Contact.Phone }}</li>
      <li>Mail: {{ vehicle.Contact.Mail }}</li>
    </ul>

    <button class="btn btn-info" routerLink="/vehicle/{{vehicle.Id}}" *ngIf="authService.isAuthenticated()">Edit</button>
    <button class="btn btn-danger" type="button" (click)="Delete()" *ngIf="authService.isAuthenticated()">Delete</button>
  </div>
  <div class="tab-pane fade" id="vehiclePhoto" role="tabpanel" aria-labelledby="vehiclePhoto-tab">
    <h2>Photos</h2>
    <form name="photoForm">
      <div class="custom-file" *ngIf="authService.isAuthenticated()">
        <input type="file" class="custom-file-input" (change)="UploadPhoto()" #fileInput />
        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
      </div>
    </form>
    <div class="progress" *ngIf="processCompleted != 100">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="processCompleted" [style.width]="processCompleted + '%'" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="well">
      <img src="/uploads/{{photo.FileName}}" class="photosThumbnail" *ngFor="let photo of vehicle.Photos" />
    </div>
  </div>
</div>
