<h1>Please complete the vehicle information</h1>
<p>
  {{ vehicle | json }}
</p>
<form (ngSubmit)="Sumbit()">
  <div class="form-group">
    <label for="Make">Make</label>
    <select class="form-control" id="Make" [(ngModel)]="vehicle.MakeId" (change)="onMakeChange()" name="MakeId">
      <option value="0" disabled>Select an option</option>
      <option *ngFor="let make of makes" value="{{ make.Id }}">{{ make.Name }}</option>
    </select>
  </div>
  <div class="form-group" >
    <label for="Model">Model</label>
    <select class="form-control" id="Model" [(ngModel)]="vehicle.ModelId" (change)="onModelChange()" name="ModelId">
      <option value="0" disabled>Select an option</option>
      <option *ngFor="let model of models" value="{{ model.Id }}">{{ model.Name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="IsRegistered">Is this vehicle registered?</label>
    <div class="form-check">
      <input class="form-check-input" type="radio"  [(ngModel)]="vehicle.IsRegistered"  name="IsRegistered" id="isRegistered_Yes" value="true" checked>
      <label class="form-check-label" for="isRegistered_Yes">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="vehicle.IsRegistered"  name="IsRegistered" id="isRegistered_No" value="false">
      <label class="form-check-label" for="isRegistered_No">
        No
      </label>
    </div>
  </div>
  <div class="form-group"  *ngIf="features.length > 0">
    <label for="Features">Features</label>
    <div class="form-check" *ngFor="let feature of features">
      <input class="form-check-input" type="checkbox" value="" id="feauture_{{ feature.Id }}" name="feature" (change)="onFeatureToggle(feature.Id, $event)">
      <label class="form-check-label" for="feauture_{{ feature.Id }}">
        {{ feature.Name }}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="ContactName">Contact Name</label>
    <input type="text" class="form-control" id="ContactName" placeholder="Enter name" [(ngModel)]="vehicle.Contact.Name" name="Contact.Name">
  </div>
  <div class="form-group">
    <label for="ContactPhone">Contact Phone</label>
    <input type="text" class="form-control" id="ContactPhone" aria-describedby="phoneHelp" placeholder="Enter Phone" [(ngModel)]="vehicle.Contact.Phone" name="Contact.Phone">
    <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="ContactEmail">Contact Email</label>
    <input type="email" class="form-control" id="ContactEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="vehicle.Contact.Mail" name="Contact.Mail">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button class="btn btn-primary">Save</button>
</form>
